* {box-sizing:border-box}

/*--------------------------------------------------SLIDESHOW CONTAINER---------------------------------------------------------*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*-------------------------------------------------HIDES THE IMAGE UNTIL NEEDED-------------------------------------------------*/
.Slides {
  display: none; 
}

/*-------------------------------------------------Next & previous buttons------------------------------------------------------*/
.previous, .next {
  cursor: arrow;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*-------------------------------------------------POSITION OF THE 'NEXT' BUTTON-------------------------------------------------*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
} 


/*-------------------------------------------------------HOVER FUNCTION----------------------------------------------------------*/
.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*-------------------------------------------------------CAPTIONS: WINTER/FALL/SPRING/SUMMER-------------------------------------*/
.text {
  color: #ffffff; 
  font-family: cursive;
  background: black; 
  
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*------------------------------------------------------COLORS OF THE NUMBERS '1/4' '2/4' '3/4' '4/4'--------------------------------------------*/
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*---------------------------------------------------------------DOTS---------------------------------------------*/
.dot {
  cursor: arrow;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(147, 143, 197);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

/*---------------------------------------------------------------ANIMATION---------------------------------------------*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}